.headerContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1em
}

.appLogo {
  height: 1.3rem;
  fill: rgba(0, 0, 0, 0.87);
  margin-right: auto;
}

.inputContainer {
  width: 100%;
  margin-bottom: 1em;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.deliveryPriceContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
}

.errorContainer {
  margin-bottom: 0.5em;
}

.error {
  color: #f93a25;
}
